 body{
	 text-align: center;
	 font-family: 'Chewy', cursive;
	 background-color: #fff;
     width: 80%;
     margin: auto;
	 /*background-image: url( ../Imagens/fundo.jpg);*/
	 
	 
	 
 }
 
 #menu{
	width: 100%;
	margin: auto;
   	background-color: lightpink;
    box-shadow: 0 0 10px #333;
    height: 200px;
}



 nav ul{
     position: fixed;
     width: 78%;
     background-color: lightpink;
     z-index: 2;
     top: -20px;
     padding: 10px 1%;
     text-align: center;
   
    
}


  nav ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 1%;
    margin-top:px;
    font-size: 19px;
    margin-right: 25px;
    margin-left: 5px;
}

.logo {
    position: relative;
	color: DeepPink;
	text-align: center;
    top: 50px;
    text-decoration: none;
    
    
    }

/* .logo img  {
    float: left;
    border: 5px solid;
    width: 15%;
    position: relative;
    top: -120px;
    left: 315px;
 }*/


 .navegacao {
	color: DeepPink;
	text-decoration: none;
	padding: 10px 10px;
}
	
.navegacao:hover{
	text-decoration: underline;
	color: white;
	background-color: PaleVioletRed;
	padding: 10px 20px 10px 20px;
	
}

#logar{
     background: #cc31cc;
     background-image: -webkit-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -moz-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -ms-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -o-linear-gradient(top, #cc31cc, #a326a3);
     background-image: linear-gradient(to bottom, deeppink, #a326a3);
     -webkit-border-radius: 22;
     -moz-border-radius: 22;
     border-radius: 22px;
     -webkit-box-shadow: 2px 2px 9px #666666;
     -moz-box-shadow: 2px 2px 9px #666666;
     box-shadow: 2px 2px 9px #666666;
     font-family: 'Chewy', cursive;
     color: #ffffff;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
     margin-bottom: 10px;
     
}


#conteudoHOME h2{
	font-size: 30px;
	color: DeepPink;
}

#conteudoHOME{
    background-color: #FFF0F5;
    box-shadow: 0 0 10px #333;
}

td img.fotos{
    position: relative;
    margin: 10px;
    
    
}

.infoPET{
    /*clip: rect(100px 100px 100px 100px);*/
    position: absolute;
    color: black;
    margin: 10px 100px 100px 100px;
    z-index: 2;
 }
    
#lateral{
	float: left;
}

#divBusca{
    background-color:#FFE4E1;
    border:solid 2px #D02090;
    border-radius:10px;
    width:97%;
    height:32px;
    display: flex;
    position: relative;
    bottom: 5px;
    right: -1%;
    clear: both;
    margin-top: 30px;
    box-shadow: 0 0 10px #333;

}
/*#divBusca:hover{
	
}*/

 #txtBusca{
  float:left;
  background-color:transparent;
  padding-left:9px; 
  font-size:28px;
  border:none;	
  height:32px;
  width: 99%;
  font-family: 'Chewy', cursive;

}
 
#btnBusca{
  border:none;
  float:right;
  height:32px;
  border-radius:0 7px 7px 0;
  width:center;
  font-weight:bold;
  background:#D02090;
  font-family: 'Chewy', cursive;
  font-size: 20px;
  cursor: pointer;

}

	
#quemsomos{	
	width: 100%;
    margin-top: 100px;
	position: relative;	
    
}

.quemsomos{
    width: 50%;
    position: relative;
    float: center;
	margin-left: 25%;
    
}


#precadastro label, button [type = submit], input [type = text] {
	display: block;
}


#txtcadastro{
    color: deeppink;
    clear: both;
    background-color: #FFF0F5;
    float: left;
    position: relative;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #333;
    padding-bottom: 10px;
}

#btnEnviar{
	  background: #cc31cc;
     background-image: -webkit-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -moz-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -ms-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -o-linear-gradient(top, #cc31cc, #a326a3);
     background-image: linear-gradient(to bottom, deeppink, #a326a3);
     -webkit-border-radius: 22;
     -moz-border-radius: 22;
     border-radius: 22px;
     -webkit-box-shadow: 2px 2px 9px #666666;
     -moz-box-shadow: 2px 2px 9px #666666;
     box-shadow: 2px 2px 9px #666666;
     font-family: 'Chewy', cursive;
     color: #ffffff;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
     margin-bottom: 10px;
    cursor: pointer;
}
#btnEnviar:hover{
	background-color: LightPink;
	text-decoration: underline;
	color: #fff;
}

#btnEntrar{
 	 background: #cc31cc;
     background-image: -webkit-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -moz-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -ms-linear-gradient(top, #cc31cc, #a326a3);
     background-image: -o-linear-gradient(top, #cc31cc, #a326a3);
     background-image: linear-gradient(to bottom, deeppink, #a326a3);
     -webkit-border-radius: 22;
     -moz-border-radius: 22;
     border-radius: 22px;
     -webkit-box-shadow: 2px 2px 9px #666666;
     -moz-box-shadow: 2px 2px 9px #666666;
     box-shadow: 2px 2px 9px #666666;
     font-family: 'Chewy', cursive;
     color: #ffffff;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
     margin-bottom: 10px;
     cursor: pointer;
	
}
#btnEntrar:hover{
	text-decoration: underline;
}

.loginsenha{
    clear: both;
    margin-top: 10px;
    background-color:#FFF0F5;
    position: relative;
    float: right;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 500px;
    box-shadow: 0 0 10px #333;
}

.loginesenha{
    margin-right: 40%;
 	background-color: #FFE4E1;
	color: DeepPink;
    position: relative;
    float: right;
}

#precadastro{
    margin-left: 36%;
	background-color: #FFE4E1;
	color: DeepPink;
    position: relative;
    float: left;
    clear: both;
    width: 350px;
    

}


 .contcdsto{
     width: 100%;
     float: left;
     position: relative;
}

 #cadastro {
     position: relative;
     float: left;
     //margin-left: 25%;
     width: 100%;
}
.cadastro{
    float: left;
    margin-left:25%;
    background-color: #FFE4E1;
    width: 50%;
}

 .dadospet{
    position: relative;
    float: left;
    margin-left:25%;
    width: 50%;
    background-color: #FFE4E1;
     
   
 }

#rodape {
	position: relative;
	color: DeepPink;
	text-align: center;
    clear: both;
    background-color: lightpink;
    margin-top: 10px;
	height: 40px;
    padding-top: 1px;
}